@import "./reset.css";
@import "./vars.css";

*, *::before, *::after {
    box-sizing: border-box;
}

a, a:visited {
    text-decoration: none;
}

body {
    background-color: beige;
    min-height: 600px;
    min-width: 850px;
    padding: var(--padY-body) var(--padX-body);
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
}
